/* // X-Small devices (portrait phones, less than 576px) */
@media (min-width: 0px) { 


    /* Head Responsive CSS  */

    #particles-js .headText.position-absolute span{
        font-size: 1.3rem;
        font-weight: 700;
        color: #10C9C3;
    }

    #particles-js .container .headText span.type{
        text-shadow: 1px 2px #CFCBD9;
    }


    #particles-js .headText.position-absolute p{
        font-size: .8rem;
        font-weight: 500;
    }

    #particles-js{
        width: 100%;
        height: 100vh;
        background-image: url(../imgs/Banner-img.jpg);
        background-position: left, center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 5% 0;
    }


    #particles-js .headText.position-absolute{
        top: 25vh;
        right: 200px;
        width: 43%;
        height: 100vh;
    }


header .navbar .navbar-collapse.scrolled-color,
header .navbar .navbar-toggler.scrolled-color{
    background-color: #10C9C3;
    width: auto;
    height: 100%;
    transition: all ease-in-out .5s;
}


header .navbar .navbar-collapse{
    background-color: #E9E9E9;
}





  /* About Two Responsive CSS  */



  .aboutTwo{
    padding: 5% 0;
    background-image: none;
    background-position: right, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #D1D4DD;
}







  /* Services Responsive CSS  */

    .work .mix {
        width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
    }




    /* Testimonial Two Responsive CSS  */


    .testimonial-two .d-flex img{
        width: 30%;
    }
    




    /* Footer Responsive CSS  */


    #footSec .row p{
        font-size: .6rem;
        color: #E9E9E9;
        margin: 3px;
    }
    
    
    #footSec .row ul li a{
        font-size: .6rem;
        color: #E9E9E9;
        margin: 3px;
    }








 }






/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 


    /* Head Responsive CSS  */

    #particles-js .headText.position-absolute span{
        font-size: 1.5rem;
        font-weight: 700;
        color: #10C9C3;
    }

    #particles-js .container .headText span.type{
        text-shadow: 1px 2px #CFCBD9;
    }


    #particles-js .headText.position-absolute p{
        font-size: .9rem;
        font-weight: 500;
    }

    #particles-js{
        width: 100%;
        height: 100vh;
        background-image: url(../imgs/Banner-img.jpg);
        background-position: left, center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 5% 0;
    }


    #particles-js .headText.position-absolute{
        top: 25vh;
        right: 50px;
        width: 43%;
        height: 100vh;
    }


    header .navbar .navbar-collapse.scrolled-color,
    header .navbar .navbar-toggler.scrolled-color{
    background-color: #10C9C3;
    width: auto;
    height: 100%;
    transition: all ease-in-out .5s;
    }

    header .navbar .navbar-collapse{
        background-color: #E9E9E9;
    }




      /* About Two Responsive CSS  */



.aboutTwo{
    padding: 5% 0;
    background-image: none;
    background-position: right, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #D1D4DD;
}





    /* Services Responsive CSS  */

    .work .mix {
        width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
    }



    /* Testimonial Two Responsive CSS  */


    .testimonial-two .d-flex img{
        width: 30%;
    }






    /* Footer Responsive CSS  */


    #footSec .row p{
        font-size: .7rem;
        color: #E9E9E9;
        margin: 3px;
    }
    
    
    #footSec .row ul li a{
        font-size: .7rem;
        color: #E9E9E9;
        margin: 3px;
    }



    



 }






/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 



    /* Head Responsive CSS  */

    #particles-js .headText.position-absolute span{
        font-size: 2rem;
        font-weight: 700;
        color: #10C9C3;
    }

    #particles-js .container .headText span.type{
        text-shadow: 2px 3px #CFCBD9;
    }


    #particles-js .headText.position-absolute p{
        font-size: 1rem;
        font-weight: 500;
    }


    header .navbar-nav a{
        font-size: .55rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #particles-js{
        width: 100%;
        height: 100vh;
        background-image: url(../imgs/Banner-img.jpg);
        background-position: center, center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 5% 0;
    }


    #particles-js .headText.position-absolute{
        top: 25vh;
        right: 200px;
        width: 43%;
        height: 100vh;
    }


    header .navbar .navbar-collapse.scrolled-color,
    header .navbar .navbar-toggler.scrolled-color{
    background-color: #10C9C3;
    width: auto;
    height: 80px;
    transition: all ease-in-out .5s;
}

header .navbar .navbar-collapse{
    background-color: transparent;
}





  /* About Two Responsive CSS  */



  .aboutTwo{
    padding: 5% 0;
    background-image: url(../imgs/Progress-img.jpg);
    background-position: right, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #D1D4DD;
}






    /* Services Responsive CSS  */

    .work .mix {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }



    /* Testimonial Two Responsive CSS  */


    .testimonial-two .d-flex img{
        padding: 5% 2%;
        width: auto;
    }




    /* Footer Responsive CSS  */

    #footSec .row p{
        font-size: .8rem;
        color: #E9E9E9;
        margin: 3px;
    }
    
    
    #footSec .row ul li a{
        font-size: .8rem;
        color: #E9E9E9;
        margin: 3px;
    }



    



 }




/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 


    /* Head Responsive CSS  */

    #particles-js .headText.position-absolute span{
        font-size: 2.7rem;
        font-weight: 700;
        color: #10C9C3;
    }

    #particles-js .container .headText span.type{
        text-shadow: 2px 3px #CFCBD9;
    }

    #particles-js .headText.position-absolute p{
        font-size: 1.2rem;
        font-weight: 500;
    }


    header .navbar-nav a{
        font-size: .85rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #particles-js{
        width: 100%;
        height: 100vh;
        background-image: url(../imgs/Banner-img.jpg);
        background-position: center, center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 5% 0;
    }


    #particles-js .headText.position-absolute{
        top: 25vh;
        right: 100px;
        width: 43%;
        height: 100vh;
    }


    header .navbar .navbar-collapse.scrolled-color,
    header .navbar .navbar-toggler.scrolled-color{
    background-color: #10C9C3;
    width: auto;
    height: 80px;
    transition: all ease-in-out .5s;
}

header .navbar .navbar-collapse{
    background-color: transparent;
}




  /* About Two Responsive CSS  */



  .aboutTwo{
    padding: 5% 0;
    background-image: url(../imgs/Progress-img.jpg);
    background-position: right, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #D1D4DD;
}








    /* Services Responsive CSS  */

    .work .mix{
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }




    /* Testimonial Two Responsive CSS  */


    .testimonial-two .d-flex img{
        padding: 5% 2%;
        width: auto;
    }





    /* Footer Responsive CSS  */

    #footSec .row p{
        font-size: .8rem;
        color: #E9E9E9;
        margin: 3px;
    }
    
    
    #footSec .row ul li a{
        font-size: .8rem;
        color: #E9E9E9;
        margin: 3px;
    }






 }





/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


    /* Head Responsive CSS  */

    #particles-js .headText.position-absolute span{
        font-size: 3.3rem;
        font-weight: 700;
        color: #10C9C3;
    }

    #particles-js .container .headText span.type{
        text-shadow: 2px 3px #CFCBD9;
    }


    #particles-js .headText.position-absolute p{
        font-size: 1.3rem;
        font-weight: 500;
    }


    header .navbar-nav a{
        font-size: .85rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #particles-js{
        width: 100%;
        height: 100vh;
        background-image: url(../imgs/Banner-img.jpg);
        background-position: center, center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 5% 0;
    }


    #particles-js .headText.position-absolute{
        top: 25vh;
        right: 100px;
        width: 43%;
        height: 100vh;
    }


    header .navbar .navbar-collapse.scrolled-color,
    header .navbar .navbar-toggler.scrolled-color{
    background-color: #10C9C3;
    width: auto;
    height: 80px;
    transition: all ease-in-out .5s;
}


header .navbar .navbar-collapse{
    background-color: transparent;
}





  /* About Two Responsive CSS  */



  .aboutTwo{
    padding: 5% 0;
    background-image: url(../imgs/Progress-img.jpg);
    background-position: right, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #D1D4DD;
}








    /* Services Responsive CSS  */

    .work .mix{
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }




    /* Testimonial Two Responsive CSS  */


    .testimonial-two .d-flex img{
        padding: 5% 2%;
        width: auto;
    }




    /* Footer Responsive CSS  */

    #footSec .row p{
        font-size: .8rem;
        color: #E9E9E9;
        margin: 3px;
    }
    
    
    #footSec .row ul li a{
        font-size: .8rem;
        color: #E9E9E9;
        margin: 3px;
    }






 }




/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 


    /* Head Responsive CSS  */

    #particles-js .headText.position-absolute span{
        font-size: 3.5rem;
        font-weight: 700;
        color: #10C9C3;
    }

    #particles-js .container .headText span.type{
        text-shadow: 3px 4px #CFCBD9;
    }


    #particles-js .headText.position-absolute p{
        font-size: 1.3rem;
        font-weight: 500;
    }


    header .navbar-nav a{
        font-size: .85rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }


    #particles-js{
        width: 100%;
        height: 100vh;
        background-image: url(../imgs/Banner-img.jpg);
        background-position: center, center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 0 5% 0;
    }



    #particles-js .headText.position-absolute{
        top: 25vh;
        right: 100px;
        width: 43%;
        height: 100vh;
    }


    header .navbar .navbar-collapse.scrolled-color,
    header .navbar .navbar-toggler.scrolled-color{
    background-color: #10C9C3;
    width: auto;
    height: 80px;
    transition: all ease-in-out .5s;
}


header .navbar .navbar-collapse{
    background-color: transparent;
}




  /* About Two Responsive CSS  */



  .aboutTwo{
    padding: 5% 0;
    background-image: url(../imgs/Progress-img.jpg);
    background-position: right, center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #D1D4DD;
}








    /* Services Responsive CSS  */

    .work .mix{
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }






    /* Testimonial Two Responsive CSS  */


    .testimonial-two .d-flex img{
        padding: 5% 2%;
        width: auto;
    }





    /* Footer Responsive CSS  */

    #footSec .row p{
        font-size: .8rem;
        color: #E9E9E9;
        margin: 3px;
    }
    
    
    #footSec .row ul li a{
        font-size: .8rem;
        color: #E9E9E9;
        margin: 3px;
    }







 }